/*Responsive of HOME page*/

@media screen and (max-width: 1440px) {
    .mapa-conteudo {
        width: 99%;
    }
}

@media screen and (max-width: 1024px) {
    .mapa-conteudo {
        width: 98%;
    }
}

@media screen and (max-width: 912px) {
    .caixa, .principal {
        width: auto;
        margin: 0 20px;
    }
}

@media screen and (max-width: 820px) {
    .caixa, .principal {
        width: auto;
        margin: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .caixa, .principal, .mapa-conteudo {
        width: auto;
        margin: 0 20px;
    }

}

@media screen and (max-width: 540px) {
    .caixa, .video, .conteudo-beneficio {
        width: auto;
        text-align: center;
    }

    nav {
        position: static;
    }

    .mapa {
        padding: 20px 0;
    }

    .lista-beneficios {
        width: 100%;
        display: block;
        text-align: center;
    }

    .imagem-beneficios {
        width: 95%;
        margin: 10px 7px 0 10px;
    }
}

@media screen and (max-width: 425px) {
    .caixa, .video, .conteudo-beneficio {
        width: auto;
        text-align: center;
    }

    nav {
        position: static;
    }

    .mapa {
        padding: 20px 0;
    }

    .lista-beneficios {
        width: 100%;
        display: block;
        text-align: center;
    }

    .imagem-beneficios {
        width: 95%;
        margin: 10px 7px 0 10px;
    }
}

@media screen and (max-width: 414px) {
    .caixa, .video, .conteudo-beneficio {
        width: auto;
        text-align: center;
    }

    .navegacao a {
        font-size: 135%;
    }

    nav {
        position: static;
    }

    .mapa {
        padding: 20px 0;
    }

    .lista-beneficios {
        width: 100%;
        display: block;
        text-align: center;
    }

    .imagem-beneficios {
        width: 95%;
        margin: 10px 7px 0 10px;
    }
}

@media screen and (max-width: 412px) {
    .caixa, .video, .conteudo-beneficio {
        width: auto;
        text-align: center;
    }

    .navegacao a {
        font-size: 134%;
    }

    nav {
        position: static;
    }

    .mapa {
        padding: 20px 0;
    }

    .lista-beneficios {
        width: 100%;
        display: block;
        text-align: center;
    }

    .imagem-beneficios {
        width: 95%;
        margin: 10px 7px 0 10px;
    }
}

@media screen and (max-width: 393px) {
    .caixa, .video, .conteudo-beneficio {
        width: auto;
        text-align: center;
    }

    .navegacao a {
        font-size: 125%;
    }

    nav {
        position: static;
    }

    .mapa {
        padding: 20px 0;
    }

    .lista-beneficios {
        width: 100%;
        display: block;
        text-align: center;
    }

    .imagem-beneficios {
        width: 95%;
        margin: 10px 7px 0 10px;
    }
}

@media screen and (max-width: 390px) {
    .caixa, .video, .conteudo-beneficio {
        width: auto;
        text-align: center;
    }

    .navegacao a {
        font-size: 125%;
    }

    nav {
        position: static;
    }

    .mapa {
        padding: 20px 0;
    }

    .lista-beneficios {
        width: 100%;
        display: block;
        text-align: center;
    }

    .imagem-beneficios {
        width: 95%;
        margin: 10px 7px 0 10px;
    }
}

@media screen and (max-width: 375px) {
    .navegacao a {
        font-size: 115%;
    }

    .imagem-beneficios {
        width: 95%;
        margin: 10px 8px 0 5px;
    }

}

@media screen and (max-width: 360px) {
    .navegacao a {
        font-size: 112%;
    }

    .imagem-beneficios {
        width: 95%;
        margin: 10px 8px 0 5px;
    }

}

@media screen and (max-width: 320px) {
    .navegacao a {
        font-size: 95%;
    }

    .mapa-conteudo {
        margin: 0 10px;
    }

    .beneficios {
        padding: 24px 0;
    }
}

@media screen and (max-width: 280px) {
    .navegacao a {
        font-size: 70%;
    }

    .mapa-conteudo {
        margin: 0 10px;
    }

    .beneficios {
        padding: 24px 0;
    }
}
