header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.caixa nav {
	position: absolute;
	top: 110px;
	right: 0;
}

.caixa nav li {
	display: inline;
	margin: 0 0 0 15px;
}

.caixa nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.caixa nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

#banner {
	width: 100%;
}

.principal {
	background: #CCCCCC;
	padding: 50px;
	position: relative;
	top: -3px;
	text-align: center;
	font-size: 25px;
}

.principal .titulo-centralizado {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#sobre strong{
	font-weight: bold;
}

#missao em strong {
	color: #FF0000;
	font-style: italic;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
	font-size: 20px;
}

.beneficios .titulo-centralizado {
	font-size: 30px;
	font-weight: bold;
}

.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
	border: 3px solid #C78C19;
	position: relative;
	top: -28px;
}

footer {
    background: url("../img/bg.jpg");
    padding: 40px 0;
    text-align: center;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}